{% extends 'base.html' %}

{% block title %}Liste des Communes - Ansade App{% endblock %}

{% block content %}
<h1>Liste des Communes</h1>
<a href="{% url 'commune_create' %}" class="btn btn-primary mb-3">Créer une nouvelle Commune</a>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Moughataa</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for commune in communes %}
        <tr>
            <td>{{ commune.code }}</td>
            <td>{{ commune.name }}</td>
            <td>{{ commune.moughataa.name }}</td>
            <td>
                <a href="{% url 'commune_update' commune.pk %}" class="btn btn-sm btn-warning">Modifier</a>
                <a href="{% url 'commune_delete' commune.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}