{% extends 'base.html' %}

{% block title %}Liste des Moughataas - Ansade App{% endblock %}

{% block content %}
<h1>Liste des Moughataas</h1>
<div class="mb-3">
    <a href="{% url 'moughataa_create' %}" class="btn btn-primary">Créer une nouvelle Moughataa</a>
    <a href="{% url 'export_moughataa_csv' %}" class="btn btn-success">Exporter en CSV</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Wilaya</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for moughataa in moughataas %}
        <tr>
            <td>{{ moughataa.code }}</td>
            <td>{{ moughataa.name }}</td>
            <td>{{ moughataa.wilaya.name }}</td>
            <td>
                <a href="{% url 'moughataa_update' moughataa.pk %}" class="btn btn-sm btn-warning">Modifier</a>
                <a href="{% url 'moughataa_delete' moughataa.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}